<div class="m-player">
  <div class="lock">
    <div class="left"><i></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev" (click)="onPlayPrev(currentIndex - 1)"></i>
        <i class="toggle" [class.playing]="playing" (click)="onPlayToggle()"></i>
        <i class="next" (click)="onPlayNext(currentIndex + 1)"></i>
      </div>
      <div class="head">
        <img [src]="picUrl" alt="">
        <div class="mask"></div>
      </div>
      <div class="play">
        <div class="words clearfix hidden">
          <p class="ellipsis margin-bottom-none">{{currentSong?.name}}</p>
          <ul class="songs clearfix margin-bottom-none">
            <li *ngFor="let item of currentSong?.ar; last as isLast"><a>{{item.name}}</a><span
                [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-wy-slider [bufferOffset]="bufferOffset" [(ngModel)]="sliderValue"
              (DragEndSliderValue)="onSliderChange($event)"></app-wy-slider>
          </div>
          <span class="time">
            <em>{{currentTime | formatTime}}</em> / {{duration | formatTime}}
          </span>
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量"></i>
        <!-- <i class="random"></i> -->
        <i class="loop" title="循环"></i>
        <!-- <i class="singleLoop"></i> -->
        <p class="open">
          <span></span>
        </p>
        <div class="control-vol" [hidden]="true">
          <app-wy-slider [wyVertical]="true" [(ngModel)]="sliderValue"></app-wy-slider>
        </div>
      </div>
    </div>
  </div>
  <audio #audio [src]="currentSong?.url" (canplay)="onPlay()" (timeupdate)="onTimeUpdate($event)"></audio>
</div>
